@model IEnumerable<Licenta2022.Models.Factura>

@{
    ViewBag.Title = "Facturi";
}
<h2>Facturi</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Programare.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Programare.Pacient)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Programare.Data)
            </td>
            <td>
                @(item.Programare.Pacient.Nume + " " + item.Programare.Pacient.Prenume)
            </td>
            <td>
                <div class="btn-group">
                    <button><a href="/Factura/Details/@item.Id">Detalii</a></button>
                </div>
            </td>
        </tr>
    }

</table>

