@model Licenta2022.Models.AbonamentView

@{
    ViewBag.Title = "Details";
}

<h2>Abonament</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Denumire)
        </dd>

        <dt>
            Servicii
        </dt>
        <dd>
            @foreach( var serv in Model.Servicii)
            {
               @(serv.DenumireServiciu + " ")

               @(serv.Procent.ToString() + "%")
                <hr />

            }
        </dd>

    </dl>
</div>
<p>
    <div class="btn-group">
        @if (ViewBag.IsAdmin == true)
        {
            <button><a href="/Abonament/Edit/@Model.Id">Editează</a></button>
            <button><a href="/Abonament/Delete/@Model.Id">Sterge</a></button>

        }
    </div>
</p>
