@model IEnumerable<Licenta2022.Models.Abonament>

@{
    ViewBag.Title = "Abonamente";
}


@if (ViewBag.IsAdmin)
{                <div class="btn-group">
    <button><a href="/Abonament/Create">Creează</a></button>
    </div>
}

<table class="table">
    <tr>
        <th>
            <h3>
                Abonamente
            </h3>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h4>
                    @Html.DisplayFor(modelItem => item.Denumire)
                </h4>
            </td>
            <td>
                <div class="btn-group">

                    <button><a href="/Abonament/Details/@item.Id">Detalii</a></button>
                </div>
            </td>
        </tr>
    }

</table>
