@model Licenta2022.Models.TrimitereInput

@{
    ViewBag.Title = "Creează trimitere";
}

<h2>Creează o trimitere pentru @ViewBag.NumePacient</h2>

@Html.React("Components.TrimitereCreate", new {
specialitati = ViewBag.Specialitati,
servicii = ViewBag.Servicii,

idPacient = ViewBag.IdPacient,
idProgramare = ViewBag.IdProgramare
})