@model Licenta2022.Models.ClinicaView

@{
    ViewBag.Title = "Clinica " + Model.Denumire;
}


<div>
    <h2>Detalii</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Denumire)
        </dd>

        <dt>
            <label>Adresa</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdresaComplet)
        </dd>

        <dt>
            <label>Doctori</label>
        </dt>
        <dd>
            @foreach (var doc in Model.Doctori)
            {
                @(doc.NumeComplet + ", " + doc.Specializare)
                <hr />
            }
        </dd>
    </dl>
</div>

@if (ViewBag.IsAdmin)
{
    <div class="btn-group">
        <button>
            <a href="/Clinica/Edit/@Model.Id">Editare</a>
        </button>
    </div>

}
