@model Licenta2022.Models.Localitate

@{
    ViewBag.Title = "Localitate";
}

<h2>Localitate</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nume)
        </dd>

    </dl>
</div>
<p>
    @if (ViewBag.IsAdmin)
    {
        <div class="btn-group">
            <button><a href="/Localitate/Edit/@Model.Id">Editeaza</a></button>
        </div>
    }
</p>
