@model IEnumerable<Licenta2022.Models.Localitate>

@{
    ViewBag.Title = "Index";
}
<h2>Localitati</h2>
@if (ViewBag.IsAdmin)
{
    <div class="btn-group">
        <button><a href="/Localitate/Create">Creează</a></button>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nume)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                <div class="btn-group">
                    <button><a href="/Localitate/Details/@item.Id">Detalii</a></button>
                </div>
            </td>
        </tr>
    }

</table>
