@model Licenta2022.Models.ProgramareForm

@{
    ViewBag.Title = "Create";
}

<h2>Crează o programare pentru @ViewBag.NumePacient</h2>


@Html.React("Components.ProgramareCreateComponent", new
{
specialitati = ViewBag.Specialitati,
idPacient = ViewBag.IdPacient,
idTrimitere = ViewBag.IdTrimitere,
idSpecializare = ViewBag.IdSpecializare
})
