@model IEnumerable<Licenta2022.Models.Programare>

@{
    ViewBag.Title = "Programari";
}

@Html.React("Components.ProgramareTable", new {
data = ViewBag.Data
})

<div style='display: @(ViewBag.HasId ? "block" : "none")'>
    <button onclick="history.back()">Inapoi</button>
</div>
