/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Toggle Styles */

#viewport {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#content {
    width: 100%;
    position: relative;
    margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #37474F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar header {
    background-color: #263238;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
}

#sidebar header a {
    color: #fff;
    display: block;
    text-decoration: none;
}

#sidebar header a:hover {
    color: #fff;
}

.dropdown-menu li {
    background: #37474F;
    padding: 0;
}

#sidebar .nav {}

#sidebar .nav a {
    background: none;
    border-bottom: 1px solid #455A64;
    color: #CFD8DC;
    font-size: 14px;
    padding: 16px 24px;
}

#sidebar .nav a:hover {
    background: none;
    color: #ECEFF1;
}

#sidebar .nav a i {
    margin-right: 16px;
}

.btn-group button {
    background-color: #37474F;
    border: 1px solid #463238;
    color: white;
    padding: 8px 14px;
    cursor: pointer;
    width: 50%;
    min-width: 150px;
    display: block;
    margin-bottom: 1rem;
}

.btn-group button:not(:last-child) {
    border-bottom: none;
}

.btn-group button:last-child {
    margin-bottom: 0;
}

.btn-group button:hover {
    background-color: #37474F;
}

.btn-group a {
    color: white;
}

dt {
    font-size: 18px;
}

dd {
    font-size: 18px;
}

.bigger-text {
    font-size: 22px;
    font-weight: bold;
}