@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bine ai venit!</h1>

    @if (User.Identity.IsAuthenticated)
    {
        <p class="lead">Programează prima consultație <a href="/Pacient">aici</a>.</p>
    }
    else
    {
        <p class="lead">Înregistrează-te și programează prima consultație.</p>
    }
</div>