@model Licenta2022.Models.Pacient

@{
    ViewBag.Title = "Edit Pacient";
}

<h2>Editare</h2>

@Html.React("Components.PacientEdit", new {
data = ViewBag.Data,
localitati = ViewBag.Localitati,
adrese = ViewBag.Adrese,
abonamente = ViewBag.Abonamente
})

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
}
