@model Licenta2022.Models.Pacient

@{
    ViewBag.Title = "Edit Pacient";
}

<h2>Edit</h2>

@Html.React("Components.PacientEdit", new {
data = ViewBag.Data,
localitati = ViewBag.Localitati,
adrese = ViewBag.Adrese,
asigurari = ViewBag.Asigurari
})

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
}
