@model Licenta2022.Models.RetetaInput

@{
    ViewBag.Title = "Creează Reteta";
}

<h2>Creează rețetă pentru @ViewBag.NumePacient</h2>

@Html.React("Components.RetetaCreate", new
{
medicamente = ViewBag.Medicamente,
programareId = ViewBag.IdProgramare
})